*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flexbox{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.wrapper{
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
}
.gallery-wrapper{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    height: 573px;
}
.link_style-none{
    text-decoration: none;
    list-style: none;
}
.form-wrapper{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    height: 460px;
}
.footer-bottom_wrapper{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}