.header_banner{
    background: url('img/top.jpg');
    background-size: cover;
    height: 560px;
}
header .logo{
    margin-top: 20px;
    color: #ffdb47;
    font-size: 36px;
}
header .logo img{
    display: block;
    width: 64px;
    height: 64px;
}
header nav{
    margin-top: 42px;
    max-width: 470px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
}
header li{
    list-style: none;
}
header li a{
    text-decoration: none;
    color: white;
    list-style: none;
    transition: .3s;
}
header li a:hover{
    color: #ffdb47;
}
.logo p{
    margin-top: 3px;
    margin-left: 12px;
    letter-spacing: 3px;
}
header main h1{
    color: white;
}
.banner-title{
    display: block;
    text-align: center;
    color: white;
    margin-top: 133px;
    padding: 0;
    letter-spacing: 0px;
    font-size: 56px;
}
.banner-description{
    text-align: center;
    color: white;
    font-size: 25px;
    position: relative;
    bottom: 17px;
    margin-bottom: 73px;
}
.button_about-us{
    text-transform: uppercase;
    margin: 0 auto;
    border-radius: 6px;
    text-decoration: none;
    display: block;
    width: 190px;
    color: white;
    text-align: center;
    background: #709dca;
    transition: .3s;
    padding-top: 12px;
    padding-bottom: 12px;
}
.button_about-us:hover{
    background-color: #ffdb47;
    color: white;
    text-shadow: 5px 5px 20px black;
}
.offer-title h2{
    text-transform: uppercase;
    letter-spacing: -1.5px;
    color: #709dca;
    margin-top: 77px;
    margin-bottom: 3px;
    font-size: 25px;
    text-align: center;
}
.offer-title p{
    font-weight: bold;
    font-size: 15px;
    color: rgb(70, 70, 70);
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 83px;
}
.offer-cards{
    flex-wrap: wrap;
}
.offer-card h4{
    font-size: 16px;
    margin-left: 9px;
    letter-spacing: -1px;
    text-transform: uppercase;
}
.offer-card p{
    margin-top: 12px;
    line-height: 22px;
    font-size: 12.1px;
    margin-left: 10px;
}

.offer-card{
    margin-bottom: 43px;
    width: 45%;
}
.about_us{
    margin-top: 33px;
}
.group-image{
    background: url('img/group.jpg');
    background-size: cover;
    width: 100%;
    height: 625px;
}
.who-are-we a{
    width: 185px;
    height: 45px;
}
.who-are-we{
    background-color: #ffc155;
    width: 100%;
    color: white;
    padding-top: 93px;
    padding-left: 81px;
}
.who-are-we h3{
    text-transform: uppercase;
    letter-spacing: -3px;
    margin-bottom: 25px;
}
.who-are-we p{
    font-size: 12px;
    line-height: 24px;
}
.who-are-we a{
    color: white;
    background-color: #e7ad48;
    border: 1px solid #cb8d21;
    border-radius: 3px;
    width: 182px;
    text-align: center;
    margin-top: 32px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-size: 14px;
    padding-top: 10px;
    display: block;
    transition: .3s;
}
.who-are-we a:hover{
    color: white;
    background-color: #a7751f;
    text-shadow: 2px 2px 10px black;
}
.photogallery-title h3{
    margin-top: 93px;
    letter-spacing: -3px;
    text-transform: uppercase;
    text-align: center;
    color: #709dca;
    margin-bottom: 24px;
}
.yellow-line{
    display: block;
    background-color: #ffc155;
    width: 215px;
    margin: 0 auto;
    height: 2px;
}
.photogallery-title p{
    margin-top: 32px;
    letter-spacing: -0.6px;
    text-align: center;
    margin-bottom: 125px;
}
.all-photos{
    flex-wrap: wrap;
}
.reviews{
    width: 1030px;
    margin: 0 auto;
}
.reviews h3{
    margin-top: 69px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: #709dca;
    margin-bottom: 25px;
}
.review-text{
    margin-top: 80px;
    line-height: 23px;
    letter-spacing: -0.3px;
    font-weight: 600;
    padding-top: 21px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 12px;
    display: block;
    color: rgb(133, 133, 133);
    width: 453px;
    height: 150px;
    background-color: #f6f3f3;
}
.people{
    position: relative;
    bottom: 6px;
    left: 7px;
}
.people p{
    font-size: 13px;
    margin-top: 12px;
    margin-left: 7px;
}
.people img{
    margin-bottom: 82px;
}
.feedback{
    background-color: #eef0f0;
}
.feedback h3{
    text-transform: uppercase;
    color: #709dca;
    text-align: center;
    font-size: 25px;
    padding-top: 34px;
    letter-spacing: -1px;
    margin-bottom: 24px;
}
.form-wrapper .left{
    display: block;
    width: 568px;
    height: 48px;
    border: 4px solid #ffc155;
    margin-bottom: 12px;
    font-size: 22px;
}
.form-wrapper button{
    background-color: #273a43;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}
.form-wrapper .left:first-child{
    margin-top: 60px;
}
.form-wrapper textarea{
    border: 4px solid #ffc155;
    font-size: 22px;
    width: 568px;
    height: 168px;
    margin-top: 60px;
    resize: none;
}
input::-webkit-input-placeholder { padding-left: 10px;}
input:-moz-placeholder { padding-left: 10px; }
textarea::-webkit-input-placeholder { padding-left: 10px;}
textarea:-moz-placeholder { padding-left: 10px; }
form button.left{
    margin-bottom: 100px;
}
footer{
    color: white;
    background-color: #273a43;
}
footer .logo{
    color: #ffdb47;
}
footer .logo p{
    margin-bottom: 18px;
    padding-top: 7px;
}
.footer-top{
    padding-top: 60px;
}
.footer_first-column-text p{}
.contact-info{
    margin-left: 50px;
}
.contact-info h4{
    margin-bottom: 25px;
    margin-left: 60px;
}
footer p{
    font-size: 13.5px;
}
footer h4{
    font-size: 23px;
    font-weight: 400;
    letter-spacing: -0.5px;
}
footer img{

    margin-right: 10px;
}
.footer_first-column-text{
    width: 300px;
}
.last-news p{
    font-size: 13.5px;
    width: 250px;
    margin-bottom: 10px;
}
.first-column{
    position: relative;
    right: 15px;
}
.contact-info{
    position: relative;
    right: 28px;
}
.contact-info h4{
    right: 35px;
    top: 10px;
    position: relative;
}
.last-news{
    position: relative;
    right: 13px;
    top: 8px;
    line-height: 19px;
}
.news, .invite{
    color: rgb(158, 158, 158);
}
.date{
    color: #709dca;
}
.date:last-child{
    margin-bottom: 56px;
}
.footer-bottom{
    width: 100%;
    background-color: #172227;
}
.footer-bottom img{
    margin: 0;
    
}